* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: antiquewhite;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.container form {
    margin: 20px, 0px;
}