* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: antiquewhite;
}

input {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.box {
    margin-bottom: 30px;
}